.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: blueviolet;
}

/* .center-button { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;!important
} */

.myButton {
    text-align: center;
    color: cadetblue; 
    /* background-color: cadetblue; */
}

.myButton :hover{
    /* color: green; */
    background-color: lightseagreen;
    box-shadow: gray 2px 2px 3px;

}